*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-image: url(fullscreen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#title{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

#choices{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    margin: 2rem;
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

img:hover{
    border: 7px solid #081b31;
    cursor: pointer;
}

#score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user{
    color: rgb(58, 177, 56);
}

#comp{
    color: rgb(255, 68, 0);
}

#user-score,#comp-score{
    font-size: 4rem;
}

#result{
    margin-top: 5rem;
}

#result-para{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}